<style>
div.container {
    width: 100%;
    border: 1px solid gray;
}

header, footer {
    padding: 1em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
}

nav {
    float: left;
    max-width: 160px;
    margin: 0;
    padding: 1em;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul a {
    text-decoration: none;
}

article {
    margin-left: 170px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
}
#pictures {
  width:500px;
  height:320px;
  border: 1px solid blue;
  padding: 3px;
  background-image: url("irelandpic.jpeg");
  float:right;
  clear: both;
}


#map {
  width: 240px;
  height: 245px;
  border:1px solid blue;
  padding: 3px;
  background-image: url("map.jpeg");
  float:right;
  clear: both;

}
}
